$star-color: rgb(100 116 139);

.stars {
  @apply fixed top-1/2 left-1/2 h-px w-px;
  box-shadow: -42vw -4vh 0px 0px $star-color,25vw -41vh 0px 0px $star-color,-20vw 49vh 0px 1px $star-color,5vw 40vh 1px 1px $star-color,29vw 19vh 1px 0px $star-color,-44vw -13vh 0px 0px $star-color,46vw 41vh 0px 1px $star-color,-3vw -45vh 0px 1px $star-color,47vw 35vh 1px 0px $star-color,12vw -8vh 1px 0px $star-color,-34vw 48vh 1px 1px $star-color,32vw 26vh 1px 1px $star-color,32vw -41vh 1px 1px $star-color,0vw 37vh 1px 1px $star-color,34vw -26vh 1px 0px $star-color,-14vw -49vh 1px 0px $star-color,-12vw 45vh 0px 1px $star-color,-44vw -33vh 0px 1px $star-color,-13vw 41vh 0px 0px $star-color,-36vw -11vh 0px 1px $star-color,-23vw -24vh 1px 0px $star-color,-38vw -27vh 0px 1px $star-color,16vw -19vh 0px 0px $star-color,28vw 33vh 1px 0px $star-color,-49vw -4vh 0px 0px $star-color,16vw 32vh 0px 1px $star-color,36vw -18vh 1px 0px $star-color,-25vw -30vh 1px 0px $star-color,-23vw 24vh 0px 1px $star-color,-2vw -35vh 1px 1px $star-color,-25vw 9vh 0px 0px $star-color,-15vw -34vh 0px 0px $star-color,-8vw -19vh 1px 0px $star-color,-20vw -20vh 1px 1px $star-color,42vw 50vh 0px 1px $star-color,-32vw 10vh 1px 0px $star-color,-23vw -17vh 0px 0px $star-color,44vw 15vh 1px 0px $star-color,-40vw 33vh 1px 1px $star-color,-43vw 8vh 0px 0px $star-color,-48vw -15vh 1px 1px $star-color,-24vw 17vh 0px 0px $star-color,-31vw 50vh 1px 0px $star-color,36vw -38vh 0px 1px $star-color,-7vw 48vh 0px 0px $star-color,15vw -32vh 0px 0px $star-color,29vw -41vh 0px 0px $star-color,2vw 37vh 1px 0px $star-color,7vw -40vh 1px 1px $star-color,15vw 18vh 0px 0px $star-color,25vw -13vh 1px 1px $star-color,-46vw -12vh 1px 1px $star-color,-18vw 22vh 0px 0px $star-color,23vw -9vh 1px 0px $star-color,50vw 12vh 0px 1px $star-color,45vw 2vh 0px 0px $star-color,14vw -48vh 1px 0px $star-color,23vw 43vh 0px 1px $star-color,-40vw 16vh 1px 1px $star-color,20vw -31vh 0px 1px $star-color,-17vw 44vh 1px 1px $star-color,18vw -45vh 0px 0px $star-color,33vw -6vh 0px 0px $star-color,0vw 7vh 0px 1px $star-color,-10vw -18vh 0px 1px $star-color,-19vw 5vh 1px 0px $star-color,1vw 42vh 0px 0px $star-color,22vw 48vh 0px 1px $star-color,39vw -8vh 1px 1px $star-color,-6vw -42vh 1px 0px $star-color,-47vw 34vh 0px 0px $star-color,-46vw 19vh 0px 1px $star-color,-12vw -32vh 0px 0px $star-color,-45vw -38vh 0px 1px $star-color,-28vw 18vh 1px 0px $star-color,-38vw -46vh 1px 1px $star-color,49vw -6vh 1px 1px $star-color,-28vw 18vh 1px 1px $star-color,10vw -24vh 0px 1px $star-color,-5vw -11vh 1px 1px $star-color,33vw -8vh 1px 0px $star-color,-16vw 17vh 0px 0px $star-color,18vw 27vh 0px 1px $star-color,-8vw -10vh 1px 1px $star-color;
}

.changing-theme,
.changing-theme * {
  transition: none !important;
}

.btn {
  @apply inline-flex gap-x-2 items-center justify-center px-4 py-2 border border-transparent text-center font-medium rounded-md shadow-sm text-white dark:text-gray-900 bg-primary-500 hover:bg-primary-600 dark:bg-primary-300 hover:dark:bg-primary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-400;
}

.btn-white-sm {
  @apply inline-flex items-center justify-center px-3 py-2 border border-gray-300 shadow-sm text-center font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-400;
}

// override style for prismjs

/* Additional styling from Gatsby -

 * Remove the default PrismJS theme background-color, border-radius, margin, padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */

.gatsby-highlight {
  @apply rounded-md rounded-tr-none mb-8;
}
.gatsby-highlight pre[class*="language-"] {
  @apply bg-gray-900 dark:bg-gray-900 m-0 p-0 min-w-full rounded-md rounded-tr-none;
}

.gatsby-highlight {
  /* PrismJS Theme styles */
  pre[class*="language-"] {
    @apply overflow-x-auto;
    max-width: 88vw;
    min-width: 300px;
  }
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  @apply pl-12 mt-0;
}

.gatsby-highlight-code-line {
  @apply block pl-3 -ml-6 bg-primary-50/25 border-l-primary-400 dark:border-l-primary-300 border-solid border-l-4;
}

// override style for gatsby-remark-code-buttons
.gatsby-code-button-container {
  max-width: 88vw;
  min-width: 300px;
  @apply touch-none flex justify-end top-0 z-30 pointer-events-none;
}

.gatsby-code-button {
  @apply flex gap-x-2 pl-1 border border-transparent text-sm font-medium rounded-md rounded-b-none shadow-sm text-white bg-primary-500 hover:bg-primary-600 dark:bg-primary-300 dark:hover:bg-primary-400;

  &:after {
    @apply absolute whitespace-nowrap hidden rounded-md text-xs pl-1 text-white bg-gray-900 dark:bg-gray-700;
    content: attr(data-tooltip);
  }

  &[data-tooltip] {
    &:after {
      top: 40px;
      right: 0;
    }
  }
}
.gatsby-code-button-icon {
  @apply w-4;
  fill: white;
}

.gatsby-code-button-toaster-text {
  @apply w-auto rounded-md text-white bg-primary-500 dark:bg-primary-300;
}

// unreset class is used to define a default style for pages with markdown
.unreset {
  img:not(.not-unreset) {
    @apply rounded-lg;
  }
  a:not(.not-unreset) {
    @apply text-blue-700 dark:text-blue-500 underline;
  }
  p:not(.not-unreset) {
    @apply my-4;
  }

  blockquote:not(.not-unreset),
  figure:not(.not-unreset) {
    @apply my-4 mx-10;
  }

  hr:not(.not-unreset) {
    @apply border;
  }

  h1:not(.not-unreset) {
    @apply text-2xl font-bold my-2 text-primary-500 dark:text-primary-300;
  }

  h2:not(.not-unreset) {
    @apply text-xl dark:text-gray-100 font-bold my-4 border-b-2 border-primary-500 dark:border-primary-300;
  }

  h3:not(.not-unreset) {
    @apply text-lg font-bold text-primary-500 dark:text-primary-300 my-4;
  }

  h4:not(.not-unreset) {
    @apply text-base dark:text-gray-100 font-bold my-5;
  }

  h5:not(.not-unreset) {
    @apply text-sm dark:text-gray-100 font-bold my-6;
  }

  h6:not(.not-unreset) {
    @apply text-xs dark:text-gray-100 font-bold my-10;
  }

  article:not(.not-unreset),
  aside:not(.not-unreset),
  nav:not(.not-unreset),
  section:not(.not-unreset) {
    h1:not(.not-unreset) {
      @apply text-2xl dark:text-gray-100 font-bold my-3;
    }

    article:not(.not-unreset),
    aside:not(.not-unreset),
    nav:not(.not-unreset),
    section:not(.not-unreset) {
      h1:not(.not-unreset) {
        @apply text-lg dark:text-gray-100 font-bold my-4;
      }

      article:not(.not-unreset),
      aside:not(.not-unreset),
      nav:not(.not-unreset),
      section:not(.not-unreset) {
        h1:not(.not-unreset) {
          @apply text-base dark:text-gray-100 font-bold my-5;
        }

        article:not(.not-unreset),
        aside:not(.not-unreset),
        nav:not(.not-unreset),
        section:not(.not-unreset) {
          h1:not(.not-unreset) {
            @apply text-sm dark:text-gray-100 font-bold my-6;
          }

          article:not(.not-unreset),
          aside:not(.not-unreset),
          nav:not(.not-unreset),
          section:not(.not-unreset) {
            h1:not(.not-unreset) {
              @apply text-xs dark:text-gray-100 font-bold my-10;
            }
          }
        }
      }
    }
  }

  ul:not(.not-unreset),
  menu:not(.not-unreset) {
    // should be my-4 for proper reset, but thats ugly af
    @apply list-disc my-1 pl-10;
  }

  ol:not(.not-unreset) {
    @apply list-decimal my-4 pl-10;
  }

  ul:not(.not-unreset),
  ol:not(.not-unreset) {
    ul:not(.not-unreset) {
      list-style-type: circle;
    }

    ul:not(.not-unreset),
    ol:not(.not-unreset) {
      ul:not(.not-unreset) {
        list-style-type: square;
      }
    }
  }

  dd:not(.not-unreset) {
    @apply pl-10;
  }

  dl:not(.not-unreset) {
    @apply my-4;
  }

  ul:not(.not-unreset),
  ol:not(.not-unreset),
  menu:not(.not-unreset),
  dl:not(.not-unreset) {
    ul:not(.not-unreset),
    ol:not(.not-unreset),
    menu:not(.not-unreset),
    dl:not(.not-unreset) {
      margin: 0;
    }
  }

  legend:not(.not-unreset) {
    @apply py-0 px-1;
  }

  fieldset:not(.not-unreset) {
    @apply my-0 mx-1 pt-0 px-1 pb-2;
  }

  b:not(.not-unreset),
  strong:not(.not-unreset) {
    font-weight: bold;
  }

  pre:not(.not-unreset) {
    @apply my-4;
  }

  code::before:not(.not-unreset),
  code::after:not(.not-unreset) {
    @apply content-none;
  }
}

// style for algolia search
.ais-SearchBox {
  margin: 1em 0;
}

.ais-PoweredBy-text {
  @apply mr-2 dark:text-gray-100;
}
.ais-PoweredBy {
  @apply flex justify-end text-lg;

  svg {
    @apply w-16 dark:fill-white;
  }
}

// override style for gatsby-remark-images
.gatsby-resp-image-wrapper .gatsby-resp-image-background-image,
.gatsby-resp-image-wrapper .gatsby-resp-image-image {
  border-radius: 0.5rem;
}
